
  .menu {
    background-color: #050c06;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

    margin: 8px 8px 8px 6px;

  }

  

  .data {
    background: rgb(173, 168, 168);
    width: 100%;
    height: 450px;

  }

  .opciones {
    margin: 2% 0% 0% 0%;
    background: rgb(173, 168, 168);

  }

 

  label {
    color: rgb(85, 85, 85);
    font-size: 24px;

  }

  select {
    margin: 0% 20% 0% 0%;
  }

  .info {
    color: black;
  
    width: 50%;
  }

  th,td {
   border-color:black 12px;
    width: 12%;
    height: 50px;
  }
.cuerpo{
  width: 80%;
  

}
.cabecera{
  width: 100%;
  height: 100px;
 
}
.head{
  width: 100%;
  height: 30%;
  background: rgb(173, 168, 168);
 
}