<p-toast position="top-right"></p-toast>
<div class="col-12 screen-content">
  <div class="row">
    <div class="col">
      <p style="text-align: right">Tipo de identificacion:</p>
    </div>
    <div class="col-2">
      <select 
      [(ngModel)]="tipoIdentificacion"
      name="tipoIdentificacion" class="form-select">
        <option value="CED">CED</option>
        <option value="PAS">PAS</option>
      </select>
    </div>
    <div class="col">
      <p style="text-align: right">Número de cedula:</p>
    </div>
    <div class="col-4">
      <input
        type="text"
        class="form-control"
        name="cedula"
        [(ngModel)]="identification"
        (keydown.Tab)="onKey($event)"
      />
    </div>
    
    <div class="col-2">
      <button class="btn btn-primary" (click)="verificar(tipoIdentificacion,identification)">VERIFICAR</button>
    </div>
  </div>
  <br />
  <div class="row" style="color: #810000">
    <h4>Informacion del Cliente</h4>
  </div>
  <div class="row">
    <div class="col bold">
      <p>Nombre</p>
      <p>Apellido</p>
      <p>Fecha de nacimiento</p>
      <p>Correo</p>
    </div>
    <div class="col">
      <input
      [(ngModel)]=cliente.nombre1
      placeholder="Nombres"
      name="nombres"
      >  
      <input
      [(ngModel)]="cliente.apellidoPaterno"
      placeholder="Apellidos"
      name="apellidoPaterno"
      >       
      <input
      [(ngModel)]="cliente.fechaNacimiento"
      placeholder="fechaNacimiento"
      name="fechaNacimiento"
      >  
      <input
      [(ngModel)]="cliente.email"
      placeholder="email"
      name="email"
      >  
    </div>
    <div class="col bold">
      <p>Dirección</p>
      <p>Estado civil</p>
      <p>Celular</p>
    </div>
    <div class="col">
      <input
      [(ngModel)]="cliente.direccion"
      placeholder="direccion"
      name="direccion"
      > 
      <input
      [(ngModel)]="cliente.estadoCivil"
      placeholder="estadoCivil"
      name="estadoCivil"
      > 
      <input
      [(ngModel)]="cliente.telefono"
      placeholder="telefono"
      name="telefono"
      > 
    </div>
  </div>
  <hr />
  <div class="row" style="color: #810000">
    <h5>Cuentas</h5>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Ahorros</p>
      <select name="cars" class="form-select">
        <option value="volvo">1231324564</option>
        <option value="saab">45645646</option>
        <option value="mercedes">45646546</option>
        <option value="audi">54564654</option>
      </select>
    </div>
    <div class="col-4">
      <p>Gana Diario</p>
      <select name="cars" class="form-select">
        <option value="volvo">546546545445</option>
        <option value="saab">45645646</option>
        <option value="mercedes">45646546</option>
        <option value="audi">54564654</option>
      </select>
    </div>    
  </div>    
  <br>
</div>
