<p-toast position="top-right"></p-toast>
<div class="col-12 screen-content">
  <div class="row">
    <div class="col">
      <p style="text-align: right">Número de cedula:</p>
    </div>
    <div class="col-4">
      <input
        type="text"
        class="form-control"
        name="cedula"
        [(ngModel)]="identification"
        (keydown.Tab)="onKey($event)"
      />
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="send()">VERIFICAR</button>
    </div>
  </div>
  <br />
  <div class="row" style="color: #810000">
    <h4>Informacion del Cliente</h4>
  </div>
  <div class="row">
    <div class="col bold">
      <p>Nombres</p>
      <p>Apellidos</p>
      <p>Fecha de nacimiento</p>
      <p>Correo</p>
    </div>
    <div class="col">
      <p>Carlos Ramiro</p>
      <p>Villarreal Mendieta</p>
      <p>06/09/97</p>
      <p>terrycarlos@live.com</p>
    </div>
    <div class="col bold">
      <p>Dirección</p>
      <p>Estado civil</p>
      <p>Celular</p>
    </div>
    <div class="col">
      <p>Quito-Tumbaco</p>
      <p>Soltero</p>
      <p>098798565</p>
    </div>
  </div>
  <hr />
  <div class="row" style="color: #810000">
    <h5>Cuentas</h5>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Ahorros</p>
      <select name="cars" class="form-select">
        <option value="volvo">1231324564</option>
        <option value="saab">45645646</option>
        <option value="mercedes">45646546</option>
        <option value="audi">54564654</option>
      </select>
    </div>
    <div class="col-4">
      <p>Gana Diario</p>
      <select name="cars" class="form-select">
        <option value="volvo">546546545445</option>
        <option value="saab">45645646</option>
        <option value="mercedes">45646546</option>
        <option value="audi">54564654</option>
      </select>
    </div>    
  </div>    
  <br>
</div>
