<div class="main-content">
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-lg col-md-12">
          <div class="card">

            <div class="opciones">

              <a class='menu' href="http://localhost:4200/informacion">INFORMACION DEL CLIENTE</a>
              <a class="menu" href="http://localhost:4200/prestamo">PAGO CUOTAS PRESTAMO</a>
              <a class="menu" href="http://localhost:4200/tarjeta">PAGO TARJETA DE CRÉDITO </a>
              <a class='menu' href="http://localhost:4200/retiro">RETIRO</a>
              <a class='menu'href="http://localhost:4200/deposito">DEPOSITO</a>
              <p>
                <hr width=100%>
              <p>
            </div>

            <div class="data">
              <table>
                <tr>

                  <td></td>
                  <td><label class='info'>Número de cedula: <input type="text" name="cedula"></label></td>
                  <td><label class='info'>Número de cuenta: <input type="text" name="cedula"></label></td>
                  <td><button>VERIFICAR</button></td>
                </tr>
              </table>
            </div>

            <div class="data">
              <p></p>
              <p></p>
              <form>
              <table>
                <tr> 
                  <td><label>Saldo Actual</label></td>
                  <td><label>2.369 $</label></td>
                </tr>
                <tr>
                  <td><label>tipo de cuenta</label></td>
                  <td><label>Ahorros</label></td>
    
                </tr>
                <tr>
                  <td><label>Cantidad a retirar</label></td>
               </tr>
               <tr>
                <td><input value='256'>$</td>
             </tr>
             <tr>
               <br>
              <button
              (click)="enviar()"
              style="width: 40%; height: 40px;"
              mat-raised-button
              
              class="btn btn-danger pull-right"
            >
              Aceptar
            </button>
           </tr>
           <tr>
      
         </tr>
              </table>
            </form>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>