.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #810000;
  color: white;  
}

.session-navbar{
  align-items: center;
  text-align: right;
}

.navbar-nav{
  flex-direction: row;
  width: 20%;
}