<p-toast position="top-right"></p-toast>
<div class="col-12 screen-content">
  <div class="row">
    <div class="col">
      <p style="text-align: right">Número de cedula:</p>
    </div>
    <div class="col-4">
      <input
        type="text"
        class="form-control"
        name="cedula"
        [(ngModel)]="identification"
        (keydown.Tab)="onKey($event)"
      />
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="send()">VERIFICAR</button>
    </div>
  </div>
  <br />
  <div class="row" style="color: #810000">
    <h4>Detalle</h4>
  </div>
  <div class="row">
    <div class="row">
      <div class="col bold">
        <p>Nombres</p>
        <p>Corre</p>
        <p>Tipo de prestamo</p>
      </div>
      <div class="col">
        <p>Jairo Emilio</p>
        <p>jevalencia@hotmail.com</p>
        <p>Automotriz</p>
      </div>
      <div class="col bold">
        <p>Apellidos</p>
        <p>Celular</p>
        <p>Valor a pagar</p>
      </div>
      <div class="col">
        <p>Valencia Alvarez</p>
        <p>09880771479</p>
        <p>300</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="text-align: right">
        <p>Pago realizado</p>
      </div>
      <div class="col">
        <div class="input-group pago">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br>
  <div class="row" style="text-align: center;">
    <div class="col">
      <button class="btn btn-outline-danger">CANCELAR</button>
    </div>
    <div class="col">
      <button class="btn btn-primary">ACEPTAR</button>
    </div>
  </div>
</div>
