<app-cabecera></app-cabecera>
<div class="main-content">
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-lg col-md-12">
          <div class="card">
            <div class="opciones">
              <a class="menu" routerLink="/informacion"
                >INFORMACION DEL CLIENTE</a
              >
              <a class="menu" routerLink="/prestamo">PAGO CUOTAS PRESTAMO</a>
              <a class="menu" routerLink="/tarjeta">PAGO TARJETA DE CRÉDITO </a>
              <a class="menu" routerLink="/retiro">RETIRO</a>
              <a class="menu" routerLink="/deposito">DEPOSTO</a>
              <p></p>
              <hr width="100%" />
              <p></p>
            </div>

            <div class="data">
              <table>
                <tr>
                  <td></td>
                  <td>
                    <label class="info"
                      >Número de cedula: <input type="text" name="cedula"
                    /></label>
                  </td>
                  <td></td>
                  <td><button>VERIFICAR</button></td>
                </tr>
              </table>
            </div>

            <div class="data">
              <p></p>
              <p></p>
              <table class="cuerpo">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <tr>
                  <td></td>
                  <td>DETALLES</td>
                  <td>CLIENTE</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <label class="info"
                      >Nombres:<input type="text" name="nombres" size=" 70 "
                    /></label>
                  </td>
                  <td></td>
                  <td>
                    <label class="info"
                      >Apellidos:<input
                        type="text"
                        name="apellidos"
                        size=" 70 "
                    /></label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="info">
                      Correo : <input type="text" name="correo" size=" 70 "
                    /></label>
                  </td>
                  <td></td>
                  <td>
                    <label class="info"
                      >Celular: <input type="text" name="celular" size=" 70 "
                    /></label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="info"
                      >Tipo de préstamo:
                      <input type="text" name="tipoPrestamo" size=" 70 "
                    /></label>
                  </td>
                  <td></td>
                  <td>
                    <label class="info"
                      >Valor: <input type="text" name="valor" size=" 70 "
                    /></label>
                  </td>
                </tr>
                <p></p>
                <hr width="100%" />
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
              </table>
            </div>
            <div class="data">
              <p></p>
              <p></p>
              <p></p>
              <p></p>
              <table>
                <tr>
                  <td></td>

                  <td>
                    <label class="info"
                      >Pago Realizado: <input type="text" name="monto"
                    /></label>
                  </td>
                </tr>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <tr>
                  <td></td>
                  <td><button>ACEPTAR</button></td>

                  <td><button>CANCELAR</button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
