
<div class="container" id="container" >
	
	<div class="form-container sign-in-container">
		<form action="#">
			<h1><img src="../../../assets/images/identity/iniciosesion.png" width="300" height="200"   ></h1>
			<h1>USUARIO:<input type="Usuario"  /></h1>
			<h1 align:left>PASSWORD:<input type="Password"  /></h1>
			
			<button>Ingresar </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
                <h1>Banco BanQuito!</h1>
                <img src="../../../assets/images/identity/LOGO-BLANCO.png" width="400" height="400" >
				
				<h1>¡BIENVENIDO!</h1>
				
			</div>
		</div>
	</div>
</div>

