<div class="main-content">
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-lg col-md-12">
          <div class="card">

            <div class="opciones">

              <a class='menu' href="http://localhost:4200/informacion">INFORMACION DEL CLIENTE</a>
              <a class="menu" href="http://localhost:4200/prestamo">PAGO CUOTAS PRESTAMO</a>
              <a class="menu" href="http://localhost:4200/tarjeta">PAGO TARJETA DE CRÉDITO </a>
              <a class='menu' href="http://localhost:4200/retiro">RETIRO</a>
              <a class='menu'href="http://localhost:4200/deposito">DEPOSITO</a>
              <p>
                <hr width=100%>
              <p>
            </div>

            <div class="data">
              <table>
                <tr>

                  <td></td>
                  <td><label class='info'>Número de cedula: <input type="text" name="cedula"></label></td>
                  <td></td>
                  <td><button>VERIFICAR</button></td>
                </tr>
              </table>
            </div>

            <div class="data">
              <p></p>
              <p></p>
              <table>
                <tr>
                  <td><label>Para:</label></td>
                </tr>
                <tr>
                  <td><label>Cuenta a depositar</label></td>
                  <td><input></td>
                  <td><label>Saldo actual</label></td>
                  <td><label class='info'>1.231$</label></td>
                </tr>
                <tr>
                  <td><label>Cantidad</label></td>
                  <td><input value='250 $'></td>
                  <td rowspan="3"><label>Firma</label><br>
                  <img src='../../assets/images/identity/firma.png' style='height: 55%; width: 55%;'></td>
                </tr>
                <p>
                  <hr width=100%>
                <p>
                <tr>
                  <td><label>Desde:</label></td>
               </tr>
               <tr>
                <td><label>Cuentas</label></td>
             </tr>
           
             <tr>
               
              <td><input type="checkbox" name="vehicle1" value="Bike"><label>Ahorros</label></td>
              <td><input type="checkbox" name="vehicle1" value="Bike"><label>Gana Diario</label></td>
           </tr>
           <tr>
            <td><select name="cars" id="cars">
              <option value="volvo">1231324564</option>
              <option value="saab">45645646</option>
              <option value="mercedes">45646546</option>
              <option value="audi">54564654</option>
            </select></td>
            <td><select name="cars" id="cars">
              <option value="volvo">546546545445</option>
              <option value="saab">45645646</option>
              <option value="mercedes">45646546</option>
              <option value="audi">54564654</option>
            </select></td>
         </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>