<div class="main-content">
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-lg col-md-12">
          <div class="card">

            <div class="opciones">

              <a class='menu' href="http://localhost:4200/informacion">INFORMACION DEL CLIENTE</a>
              <a class="menu" href="http://localhost:4200/prestamo">PAGO CUOTAS PRESTAMO</a>
              <a class="menu" href="http://localhost:4200/tarjeta">PAGO TARJETA DE CRÉDITO </a>
              <a class='menu' href="http://localhost:4200/retiro">RETIRO</a>
              <a class='menu'href="http://localhost:4200/deposito">DEPOSITO</a>
              <p>
                <hr width=100%>
              <p>
            </div>

        
            <div class="data">
              <p></p>
              <p></p>
              <table>
                <tr>
                  <td><label>Para:</label></td>
                </tr>
                <tr>
                  <td><label>Cuenta a depositar</label></td>
                  <td><input></td>
                  <td><label>Nro cedula depositante</label></td>
                  <td><input value='1723226690'></td>
                </tr>
                <tr>
                  <td><label>Tipo de Cuenta</label></td>
                  <td><select style="width: 165px;">
                    <option value="26">ahorros</option>
                  </select>
                  
                  </td>
                  <td><label>Cantidad</label></td>
                  <td><input value='250 $'></td>
                
                <p>
                  <hr width=100%>
                <p>
             
      
           <tr>
         
         </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>