<div class="main-content">
  <div class="">
    <div class="">
      <div class="row">
        <div class="col-lg col-md-12">
          <div class="card">

            <div class="opciones">
              <a class='menu' href="http://localhost:4200/informacion">INFORMACION DEL CLIENTE</a>
              <a class="menu" href="http://localhost:4200/prestamo">PAGO CUOTAS PRESTAMO</a>
              <a class="menu" href="http://localhost:4200/tarjeta">PAGO TARJETA DE CRÉDITO </a>
              <a class='menu' href="http://localhost:4200/retiro">RETIRO</a>
              <a class='menu'href="http://localhost:4200/deposito">DEPOSITO</a>
              <p>
                <hr width=100%>
              <p>
            </div>

            <div class="head">
              <table class='cabecera'>
                <tr>

                  <td></td>
                  <td><label class='info'>Número de cedula: <input type="text" name="cedula"></label></td>
                  <td></td>
                  <td><button>VERIFICAR</button></td>
                </tr>
              </table>
            </div>
            
            <div class="data">
              <h3>Informacion del Cliente</h3>
              <p></p>
              <table class="cuerpo">
                <tr>
                  <td><label>Nombres</label></td>
                  <td><label class='info'>Carlos Ramiro</label></td>
                  <td><label>Direccion</label></td>
                  <td><label class='info'>Quito-Tumbaco</label></td>
                </tr>
                <tr>
                  <td><label>Apellidos</label></td>
                  <td><label class='info'>Villarreal Mendieta</label></td>
                  <td><label>Estado Civil</label></td>
                  <td><label class='info'>Soltero</label></td>
                </tr>
                <tr>
                  <td><label>Fecha de Nacimiento</label></td>
                  <td><label class='info'>06/09/97</label></td>
                  <td><label>Celular</label></td>
                  <td><label class='info'>098798565</label></td>
                </tr>
                <tr>
                  <td><label>Correo</label></td>
                  <td><label class='info'>terrycarlos@live.com</label></td>
                </tr>
                <p>
                  <hr width=100%>
                <p>
                <tr>
                  <td><label>Cuentas</label></td>
               </tr>
              
               <tr>
                <td><label>Ahorros</label></td>
                <td><label>Gana Diario</label></td>
             </tr>
             <tr>
              <td><select name="cars" id="cars">
                <option value="volvo">1231324564</option>
                <option value="saab">45645646</option>
                <option value="mercedes">45646546</option>
                <option value="audi">54564654</option>
              </select></td>
              <td><select name="cars" id="cars">
                <option value="volvo">546546545445</option>
                <option value="saab">45645646</option>
                <option value="mercedes">45646546</option>
                <option value="audi">54564654</option>
              </select></td>
           </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>